# Archivos de entorno y configuración
.env
.env.*
!.env.example
*.ini

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/
.venv
.env-*/

# Base de datos y migraciones
*.db
*.sqlite
*.sqlite3
migrations/versions/

# Logs y archivos generados
*.log
logs/
*.swp
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos generados en tiempo de ejecución
instance/
.webassets-cache

# Archivos de caché
.pytest_cache/
.coverage
htmlcov/
.tox/

# Node y npm
node_modules/
npm-debug.log
package-lock.json
app/models/__pycache__/__init__.cpython-313.pyc
app/models/__pycache__/models.cpython-313.pyc
app/routes/__pycache__/jobs.cpython-313.pyc
app/__pycache__/__init__.cpython-313.pyc
app/routes/__pycache__/jobs.cpython-313.pyc
